{% extends 'base.html.twig' %}

{% block title %}Florent Drousset{% endblock %}

{% block body %}
    <div class="main-container m-auto">
            <div class=""></div>
            <h1 class="main-title columns is-centered container m-3">
                Hi, I'm Florent Drousset
            </h1>

            <div class="">
                <p class="content">Welcome to my blog ! </p>
                <p class="content">I'm a web developer specialized in PHP.</p>
                <p class="content">Feel free to check my <a class="ml-1 cool-link" href="{{ path('app_article_index') }}">articles</a>.</p>
            </div>
    </div>

{% endblock %}
