{% extends 'base.html.twig' %}

{% block title %}Florent Drousset{% endblock %}

{% block body %}
    <div class="block p-3">
        <h1 class="title block m-2">
            Florent Drousset
        </h1>

        <p class="subtitle block m-2">
            Welcome to my blog. Feel free to check my <a href="#">articles</a>.
        </p>

        <div class="field">
            <div class="control">
                <input class="input" type="text" placeholder="Input">
            </div>
        </div>

        <div class="field">
            <p class="control">
              <span class="select">
                <select>
                  <option>Select dropdown</option>
                </select>
              </span>
            </p>
        </div>
    
        <div class="buttons">
            <a class="button is-primary">Primary</a>
            <a class="button is-link">Link</a>
        </div>
    </div>
{% endblock %}
