@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat:wght@500&family=Open+Sans&family=Roboto:wght@300;400;500;900&display=swap');
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #212427;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$soft-blue: #0074E1;
$softest-blue: #F2F2F2;
// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $soft-blue;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
$text-main-color: #2c2c2c;

// Update some of Bulma's component variables
//$body-background-color: $softest-blue;
$body-background-color: #eeeeee;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

pre {
  background-color: #f5f5f5;
  padding: 1em;
  overflow-x: auto;
}

body {
  background-color: #eee;
  color: $text-main-color;
  font-family: "Montserrat";
}

pre code {
  background-color: transparent;
  padding: 0;
  color: #333;
}

.main-title {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 3rem;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  max-width: 60%;
  padding: 0 1rem;
}

nav {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: space-around;
}

.navbar-flo {
  font-size:1.3rem;
}

p {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: $text-main-color;
}

.navbar-item {
  margin-right: 1.5rem;
}

.navbar-item:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #eeeeee;
}

h2 {
  font-size: 2rem;
  font-weight: bolder;
}

.emoji {
  font-size: 2rem;
  margin-right: 1rem;
}

.cool-link {
  color: #5143F1;
  text-decoration: underline;
}

.article-row {
  display: flex;
  width: 100%;
  background-color: transparent;
  justify-content: space-between;
  padding: 0.4rem;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 0.3rem;
}

.hp-article-title {
  font-weight: bolder;
}

.hp-article-title:hover {
  text-decoration: underline;
}

.welcome-box {
  margin-bottom: 5rem;
  width: 50%;
  border-radius: 4px;
  border: solid 1px #dddddd;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-bottom: 1.5rem;
  padding-right: 2.4rem;
}