{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">

    <div class="main-container m-auto">
        <div class=""></div>
        <h1 class="main-title columns is-centered container m-3">
            {{ article.title }}
        </h1>

        <div class="content">
            {{ article.content|raw }}
        </div>
    </div>
    <script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('pre code.php-code').forEach((block) => {
            hljs.highlightElement(block);
        });
    });
</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
{% endblock %}
